@media screen and (max-width: 1380px){
    .card-bottom {
        position: absolute;
        bottom: -59px;
        left: 0;
    }

}
@media screen and (max-width: 1100px){
    .hero-left-img img {
        width: 349px;
    }
}
@media screen and (max-width: 1000px){
    .main-heding{
        font-size: 40px;
    }
    .hero-left-img{
        position: relative;
    }
    .hero{
        padding: 150px 0 30px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .hero-left-img{
        margin-top: 30px;
    }
    .hero-content p{
        font-size: 25px;
    }
    .hero-content p{
        max-width:600px;
    }
    .project-box{
        width: 100%;
    }
    .project-box:nth-child(1){
        width: 100%;
    }
    .project-box:nth-child(2){
        width: 100%;
    }
    .project-box:nth-child(3){
        width: 100%;
    }
    .project-box:nth-child(4){
        width: 100%;
    }
    .project-box:nth-child(5){
        width: 100%;
    }
    .project-box:nth-child(6){
        width: 100%;
    }
    .faq-continer2{
        flex-direction: column;
    }
    .faq-left{
        width: 100%;
    }
    .faq-right{
        width: 100%;
    }
    .service-img img{
        width: 100%;
    
    }
    .card-bottom{
        bottom: -42px;
    }
    .step-box{
        padding-right: 0;
        text-align: center;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 830px){
    .hero {
        padding: 150px 15px 30px;
    }
    .partner-logo img {
        max-width: 85%;
    }
}
@media screen and (max-width: 600px){
    .main-heding {
        font-size: 29px;
    }
    .hero-left-img img {
        width: 100%;
    }
    .hero {
        padding: 150px 15px 40px;
    }
    .hero-content p{
        font-size: 18px;
        margin-top: 7px;
        line-height: 20px;
    }
    .service-center p{
        font-size: 18px;
        line-height: 20px;
    }
    .service-center {
        width: 95%;
        text-align: center;
        margin: 0 auto;
    }
    .project-content{
        width: 100%;
        padding: 0 15px;
    }
    .faq-left{
        text-align: center;
    }
    .pre-footer h2{
        font-size: 40px;
    }
    .design-studio{
        padding: 50px 0;
    }
    .service-step{
        padding: 50px 0;
    }
    .partner-logo img {
        max-width: 91%;
    }
    .faq-continer2{
        padding: 50px 15px;
    }
    .faq-question{
        padding-left: 0;
    }
    .faq-answer.open{
        padding-left: 0;
    }
}
@media screen and (max-width: 450px){
    .project-box{
        min-height: 600px;
        padding: 0;
    }
    .project-image{
        max-width: 100%;
    }
    .project-image img{
        width: 100%;
    }
    .faq-question{
        font-size: 18px;
    }
    .footer-content{
        flex-direction: column-reverse;
    }
    .footer-content .logo{
        margin-bottom: 20px;
    }
    .footer-content{
        text-align: center;
    }
    .card-bottom{
        bottom: -32px;
    }
    .love-content h2{
        text-align: center;
        font-size: 40px;
    }
    .service{
        padding: 50px 0 0;
    }
}
@media screen and (max-width: 381px){
    .main-heding {
        font-size: 27px;
    }
}